In [10]:
l = [2,3,6]
a=1
for i in l:
  a = a*i
print(a)

36

In [ ]:
x = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
s=  sorted(x, key= lambda i:i[1])
print(s)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [16]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3=dict()
for i, j  in d1.items():
    for x, y  in d2.items():
      
        if i == x:
            d3[i]=j+y
        elif not( i in d2.keys()):
          d3[i]= j
        elif not( x in d1.keys()):
          d3[x]= y

from collections import Counter

c1 = Counter([1,1,1,1,1,1,1,2,2,2])
c2 = Counter(d2)
c3 = c1 + c2          


print(c1)

Counter({1: 7, 2: 3})

In [40]:
n=int(input("enter the value of n"))
squares = {i: i*i for i in range(0,n+1)}
print(squares)

enter the value of n11
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [47]:
x= [('item1',12.20),('item2',15.10),('item3',24.5)]
s=sorted(x,key=lambda i:i[1],reverse=True)
print(s)

[('item3', 24.5), ('item2', 15.1), ('item1', 12.2)]